Repository Julien-hae/CookieBlueprint: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, black, unittest-run

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: system
  pass_filenames: false

black:
  name: black
  entry: black
  language: python

unittest-run:
  name: unittest-run
  entry: coverage run
  pass_filenames: false
  language: system

Removed old organisation
  Makefile
  pyproject.toml
  tests/esta_python_cookiecutter/test_cookiecutter.py
Due: poetry-check, black, unittest-run

Implement cookies in blueprint
  Makefile
  {{ cookiecutter.slugname }}/README.md
  {{ cookiecutter.slugname }}/poetry.toml
  {{ cookiecutter.slugname }}/pyproject.toml
Due: poetry-check

Update README.md
  README.md
Due: none

Unified README
  README.md
  {{ cookiecutter.slugname }}/README.md
Due: none

Removed Lower in slug name
  cookiecutter.json
Due: none

Implement git initialisation
  {{ cookiecutter.slugname }}/README.md
Due: none

Add files via upload
  {{ cookiecutter.slugname }}/LICENSE.txt
Due: none

Rename LICENSE.txt to LICENSE
  {{ cookiecutter.slugname }}/LICENSE
Due: none

Update cookiecutter.json
  cookiecutter.json
Due: none

feat: implement Ruff
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: repair the root pre-commit config and finish the ruff migration
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: poetry-check

feat: implement Ruff in the generated project
  {{ cookiecutter.slugname }}/.pre-commit-config.yaml
  {{ cookiecutter.slugname }}/.vscode/extensions.json
  {{ cookiecutter.slugname }}/.vscode/settings.json
  {{ cookiecutter.slugname }}/README.md
  {{ cookiecutter.slugname }}/pyproject.toml
Due: poetry-check

chore: ignore ruff's cache directory
  .gitignore
  {{ cookiecutter.slugname }}/.gitignore
Due: none

feat: migrate to copier
  .pre-commit-config.yaml
  README.md
  cookiecutter.json
  copier.yml
  poetry.lock
  pyproject.toml
  template/.gitattributes
  template/.gitignore
  template/.pre-commit-config.yaml
  template/.python-version.jinja
  template/.vscode/extensions.json
  template/.vscode/launch.json.jinja
  template/.vscode/settings.json
  template/LICENSE
  template/Makefile.jinja
  template/README.md.jinja
  template/pyproject.toml.jinja
  template/src/{{ package_name }}/__init__.py.jinja
  template/src/{{ package_name }}/common/__init__.py
  template/src/{{ package_name }}/common/logging_configuration.py
  template/src/{{ package_name }}/greeter.py
  template/src/{{ package_name }}/main.py.jinja
  template/tests/__init__.py
  template/tests/{{ package_name }}/__init__.py
  template/tests/{{ package_name }}/test_greeter.py.jinja
  template/tests/{{ package_name }}/test_main.py.jinja
  template/{{ _copier_conf.answers_file }}.jinja
  tests/cookieblueprint/__init__.py
  {{ cookiecutter.slugname }}/.python-version
  {{ cookiecutter.slugname }}/src/{{ cookiecutter.package_name }}/__init__.py
Due: poetry-check, black, unittest-run

Path conditions:
  poetry-check: any of: (^|/)pyproject.toml$
  black: any of: \.py$, but not: ^{{ cookiecutter.slugname }}/
  unittest-run: any of: \.py$
